# Plotting time-series in R using pluto

A getting started guide

In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(plutoR)
library(quantmod)

options("scipen"=999)
source("config.R")

indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.1
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Version 0.4-0 included new data defaults. See ?getSymbols.

In [2]:
trIndices <- indices$NseTimeSeries() %>%
    group_by(NAME) %>%
    summarize(ST = min(TIME_STAMP), ET = max(TIME_STAMP)) %>%
    filter(ST <= '2005-01-01' && ET >= Sys.Date()-10) %>%
    arrange(ST)

print(trIndices)

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

ERROR: Error: <SQL> 'SELECT TOP(11) *
FROM (SELECT TOP 100 PERCENT "NAME", MIN("TIME_STAMP") AS "ST", MAX("TIME_STAMP") AS "ET"
FROM (SELECT TOP 100 PERCENT "INDEX_NAME" AS "NAME", "TIME_STAMP", "PX_HIGH" AS "HIGH", "PX_LOW" AS "LOW", "PX_OPEN" AS "OPEN", "PX_CLOSE" AS "CLOSE", "TRD_QTY" AS "VOLUME"
FROM "BHAV_INDEX") "dbplyr_001"
GROUP BY "NAME") "dbplyr_002"
WHERE ("ST" <= '2005-01-01' AND "ET" >= Sys.Date() - 10.0)
ORDER BY "ST"'
  nanodbc/nanodbc.cpp:1587: 42000: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot find either column "Sys" or the user-defined function or aggregate "Sys.Date", or the name is ambiguous.